src/main/mule/final-use-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:compression="http://www.mulesoft.org/schema/mule/compression"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/compression http://www.mulesoft.org/schema/mule/compression/current/mule-compression.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	
	<flow name="sftp-to-salesforce-flow" doc:id="4f8cf674-b2f0-4424-a319-2d006c49a879" >
		<http:listener doc:name="Listener" doc:id="60485fdd-acff-4138-8179-0b3c5c8c94a7" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="6abb9525-7136-4c0d-97db-77c942e00268" message='#["Flow Started"]'/>
		<sftp:list doc:name="List files from sftp" doc:id="8bb74d80-7006-41e3-8950-566c67e72e50" config-ref="SFTP_Config" directoryPath="\">
			<sftp:matcher filenamePattern="*.zip" />
		</sftp:list>
		<ee:transform doc:name="DW extract file names" doc:id="34057888-35c5-434b-b550-b90642718e5f">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((item, index) -> item.attributes.name)]]></ee:set-payload>
			</ee:message>
			<ee:variables>
			</ee:variables>
		</ee:transform>
		<batch:job jobName="Batch_Job-to-push-data-to-salesforce" doc:id="aaa0694a-5dc0-4bd9-aa9f-04be85e67aee" blockSize="20">
			<batch:process-records>
				<batch:step name="Batch_Step" doc:id="6da70f66-e5d7-4405-bae9-390e9d3a6659">
					<ee:transform doc:name="DW store filename" doc:id="90fa0a1d-352d-4fd1-ba5a-1c76a62b260e">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="filename"><![CDATA[%dw 2.0
output text/plain
---
payload]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
					<sftp:read doc:name="Read single zip file" doc:id="5a3acc1f-2f6d-454c-b7df-a5172e8f7224" config-ref="SFTP_Config" path='#["/" ++ payload as String]' target="content" />
					<logger level="INFO" doc:name="Log file contents" doc:id="368d75f3-2fb4-495b-bd8c-1d01948da7c3" message="#[payload]" />
					<compression:extract doc:name="Extract zip content" doc:id="8b9abc90-b9e0-4427-ac8f-fdcd7a382250">
			<compression:compressed><![CDATA[#[vars.content]]]></compression:compressed>
						<compression:extractor>
				<compression:zip-extractor />
			</compression:extractor>
		</compression:extract>
					<ee:transform doc:name="DW get filename, contents of each file form zip" doc:id="12c45b3d-6101-4c00-9bcc-3d43d599ef93">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload pluck {
    fileName: $$,
    content: $
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<ee:transform doc:name="DW separate each file content and store in variable" doc:id="2aae2f5d-d2b5-4c43-aab0-41156f76b4a0">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="storePdf"><![CDATA[%dw 2.0
import * from dw::core::Binaries
output text/plain
---
toBase64((payload filter ((item, index) -> item.fileName contains ".pdf" ))[0].content)]]></ee:set-variable>
							<ee:set-variable variableName="storeXml"><![CDATA[%dw 2.0
import * from dw::core::Binaries
output text/plain
---
toBase64((payload filter ((item, index) -> item.fileName contains ".xml" ))[0].content)]]></ee:set-variable>
							<ee:set-variable variableName="storeimage"><![CDATA[%dw 2.0
import * from dw::core::Binaries
output text/plain
---
toBase64((payload filter ((item, index) -> item.fileName contains ".jpeg" ))[0].content)]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
					<ee:transform doc:name="DW form payload to push into salesforce object" doc:id="65a74493-3ee3-479e-8195-9c64ac4c425d">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	image__c: vars.storeimage as String,
	pdf__c: vars.storePdf as String,
	xml__c: vars.storeXml as String
}]]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<logger level="INFO" doc:name="Log payload before create operation" doc:id="c1ad4f64-fb4a-4466-9b96-b918f0c0c2e8" message='#["Before salesforce create operation": {
	"Payload" : payload
}]'/>
					<salesforce:create doc:name="Create" doc:id="14e428e5-0541-490d-9642-7d8367ee53b8" config-ref="Salesforce_Config" type="myobject__c">
					</salesforce:create>
					<sftp:move doc:name="Move processed files to another folder" doc:id="68f8919a-a6a4-4bb0-b115-2d028da7782f" config-ref="SFTP_Config" sourcePath='#["/" ++ vars.filename as String]' targetPath="/backup" overwrite="true" />
					<logger level="INFO" doc:name="Logger" doc:id="09c66f0e-44f0-475f-b7e4-11818a52b4cd" message='#["Record Inserted to salesforce"]' />
				</batch:step>
			</batch:process-records>
		</batch:job>
	</flow>
</mule>
